html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arial';
  font-size: 11pt;
  color: #666;
}

.entered-text{
  font-family:'Open Sans';
  font-size: 11pt;   
}

.text_size_big{
  font-size: 1.2em;
}

.text_size_small{
  font-size: .8em;
}

.text_bold{
  font-weight: bold;
}

.text-color_black{
  color: #444;
}

.input{
  display: block;
  height: 35px;
  width: 360px;
  border-radius: 3px;
  padding: 8px;  
  border: 1px solid #666;
  box-sizing: border-box;
}

.textarea{
  display: block;
  height: 120px;
  width: 378px;
  border-radius: 3px;
  padding: 8px; 
  border: 1px solid #666;
  box-sizing: border-box;  
}

.button{
  display: inline-block;
  height: 45px;
  width: 180px;
  background-color: #fff;
  border: 2px solid #23527c;
  color: #23527c;
}

.user-form{
  display: block;
  max-width: 850px;
  margin: 0 auto;
}

.user-form__description-wrap{
  margin: 15px 10px 0 25px;
}

.user-form__meta-information-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-form__input{
  margin: 15px 10px 15px 25px; 
}

.user-form__json-textarea{
  margin: 15px 10px 15px 25px;
  height: 136px;
}

.user-form__md-textarea{
  margin: 15px 10px 15px 25px; 
}

.user-form__button {
  margin: 25px 25px;
}

.textarea_size_big{
  width: 95%;
  max-width: 774px;
  height: 280px;
}

/*


*/

.mdtext-prewiev{
  width: 90%;
  max-width: 1000px;
  min-width: 320px;
  color: #444;
  font-size: 18px;
  margin: 40px auto auto;
  text-align: justify;
  font-family: "Hoefler Text", "Century Schoolbook", "Times New Roman", serif;
}

.mdtext-prewiev__breadcrumbs{
  font-size: .9em;
}

.mdtext-prewiev__breadcrumbs a{
  color: #444;
}

.mdtext-prewiev__title{
  color: brown;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin: 20px auto;
}

.mdtext-prewiev__author{
  font-weight: bold;
  text-align: center;
  font-size: 1.8em;
  margin: 20px auto;
}

.mdtext-prewiev__origin{
  width: 90%;
  margin: 15px;
}

.mdtext-prewiev__origin-description{
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
}

ul, ol {
  margin-left: 25px;
}

li {
  margin-top: 10px;
}

hr {
  max-width: 1000px;
}
.author-page-header{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  width: 90%;
  max-width: 1000px;
  min-width: 320px;
  color: #444;
  font-size: 18px;
  font-family: "Hoefler Text", "Century Schoolbook", "Times New Roman", serif;
  margin: 0 auto;
  justify-content: space-between;
  margin: 10px auto;
}

.author-page-header__photo-block{
  width: 250px;
  text-align: center;
}

.author-page-header__text-block{
  width: 95%;
  max-width: 700px;
  flex-grow: 4;
}

.author-page-header__name{
  color: brown;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin: 20px auto;
  text-align: center;
}

.author-page-header__years {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

@media all and (max-width: 600px ){
  .author-page-header{
    flex-direction: column;
  }
  .author-page-header__name{
    font-size: 1.5em;
    margin: 15px auto;
  }

  .author-page-header__years {
    font-size: 1.1em;
    margin: 0 auto 10px auto;
  }
}


.mix-panel{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  min-width: 320px;
  color: #444;
  font-size: 18px;
  margin: 0 auto;
  font-family: "Hoefler Text", "Century Schoolbook", "Times New Roman", serif;
}

.mix-panel__item{
  display: inline-block;
  width: 150px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: .9em;
}

.mix-panel-active {
  font-weight: bold;
  text-decoration: underline;
}

.author-page-content{
  width: 90%;
  max-width: 1000px;
  min-width: 320px;
  color: #444;
  font-size: 18px;
  margin: 0 auto;
  font-family: "Hoefler Text", "Century Schoolbook", "Times New Roman", serif;
}

.author-page-content__maintitle{
  text-align: center;
}

.author-page-content__category-name{
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0;
}

.category-list{
  margin: 15px 20px;
  list-style-type: none;
}

.category-list__item{
  
}
