
html, body {
  width: 100%;
  font-family: 'Arial';
  font-size: 11pt;
  color: #666;
}

.entered-text{
  font-family:'Open Sans';
  font-size: 11pt;   
}

.text_size_big{
  font-size: 1.2em;
}

.text_size_small{
  font-size: .8em;
}



.text_bold{
  font-weight: bold;
}

.input{
  display: block;
  height: 35px;
  width: 360px;
  border-radius: 3px;
  padding: 8px;  
  border: 1px solid #666;
}

.textarea{
  display: block;
  height: 120px;
  width: 360px;
  border-radius: 3px;
  padding: 8px; 
  border: 1px solid #666;  
}

.button{
  display: inline-block;
  height: 45px;
  width: 180px;
  background-color: #fff;
  border: 2px solid #23527c;
  color: #23527c;
}

.user-form{
  display: block;
  max-width: 850px;
  margin: 0 auto;
}

.user-form__description-wrap{
  margin: 15px 10px 0 25px;
}

.user-form__meta-information-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-form__input{
  margin: 15px 10px 15px 25px; 
}

.user-form__json-textarea{
  margin: 15px 10px 15px 25px;
  height: 170px;
}

.user-form__md-textarea{
  margin: 15px 10px 15px 25px; 
}

.user-form__button {
  margin: 25px 25px;
}

.textarea_size_big{
  width: 95%;
  max-width: 774px;
  height: 280px;
}

/*


*/

.mdtext-prewiev{
  width: 1000px;
  color: #444;
  font-size: 18px;
  margin: 40px auto auto;
  text-align: justify;
  font-family: "Hoefler Text", "Century Schoolbook", "Times New Roman", serif;
}

.mdtext-prewiev__breadcrumbs{
  
}

.mdtext-prewiev__breadcrumbs a{
  color: #444;
}

.mdtext-prewiev__title{
  color: brown;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin: 20px auto;
}

.mdtext-prewiev__author{
  font-weight: bold;
  text-align: center;
  font-size: 1.8em;
  margin: 20px auto;
}

.mdtext-prewiev__origin{
  width: 90%;
  margin: 15px;
}

.mdtext-prewiev__origin-description{
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
}

ul, ol {
  margin-left: 25px;
}

li {
  margin-top: 10px;
}